# Arquivo de log de depuração do NPM
npm-debug.log*

# Arquivos de ambiente
.env

# Dependências do projeto
node_modules/

# Arquivos de configuração de IDEs e editores
.vscode/
.idea/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db